[Desktop Entry]
Type=Application
Version=1.0
Name=QUpgrade
Comment=Firmware flashing tool
Exec=qupgrade
Icon=qupgrade
Terminal=false
Categories=Utility;
