/*
 * PX4 / QUpgrade visual style
 */

/* ==========================================================================
   Visual style
   ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-top: 0.3em;
    color: #050508;
    background-color: #FFFFFF;
}

h1 {
    font-size: 2.45em;
    font-weight: lighter;
    margin-top: 1em;
}

h2 {
    font-size: 1.75em;
    font-weight: lighter;
}

h3 {
    font-size: 1.3em;
    font-weight: lighter;
}

table {
	margin: 0em;
}

td {
	margin: 0em;
	padding: 0em;
}